<div class="main">
  <!-- 上方列 -->
  <div class="top">
    <img class="return" routerLink="/account-nav/setting" src="./assets/icon/icon_Arrow_Back.png">
    <h3>通知設定</h3>
  </div>

  <div class="main-content">
    <div class="setting-notice">
      <div class="row">
        <p>帳務通知</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox" />
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <p>優惠通知</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox"  checked/>
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <p>消費通知</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox" />
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <p class="last-one">點數通知</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox" />
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
    </div>

  </div>
</div>
