<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/index" src="./assets/icon/icon_Arrow_Back.png">
    <h3>我的帳號</h3>
    <div class="setting">
      <div class="menu" routerLink="/account/login">
        <img src="./assets/icon/icon_SignOut.png">
        <p>登出</p>
      </div>
      <div class="menu" routerLink="/account-nav/setting">
        <img src="./assets/icon/icon_SetUp.png">
        <p>設定</p>
      </div>
    </div>
  </div>

  <div class="account">
    <p>我的帳號</p>
    <p>0000-0000-0000-00</p>
    <div class="items">
      <div class="item share">
        <img src="./assets/icon/icon_Share.png">分享帳號
      </div>
      <div class="item copy" (click)="copy()">
        <img src="./assets/icon/icon_Copy.png">複製
      </div>
    </div>
  </div>

  <div class="free">
    <div class="free-withdraw">
      <p>本月免費跨堤</p>
      <h1>5次</h1>
    </div>
    <div class="free-transfer">
      <p>本月免費跨轉</p>
      <h1>5次</h1>
    </div>
  </div>

  <div class="overview" routerLink="/account-nav/overview">
    <img class="pie" src="./assets/icon/icon_PieChart.png">
    <p>資產總覽</p>
    <img class="more" src="./assets/icon/icon_Arrow_More.png">
  </div>

</div>
