<div class="main">
  <!-- 上方列 -->
  <div class="top">
    <img class="return" routerLink="/account-nav/setting" src="../assets/icon/icon_Arrow_Back.png">
    <h3>轉帳設定</h3>
  </div>

  <div class="main-content">
    <div class="setting-transfer">
      <div class="row">
        <p>金融卡轉帳</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox" checked/>
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
      <div class="row">
        <p class="last-one">Web/APP轉帳</p>
        <div class="switch">
          <label>
            <input type="checkbox" class="checkbox" />
            <span class="btn_box">
              <span class="btn"></span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="text-content">
      <p>注意事項</p>
      <p>1. 金融卡轉帳啟用後，可在實體ATM提款機進行約轉與非約定轉帳。</p>
      <p>2. Web/APP轉帳啟用後，可於網路及行動銀行進行非約定轉帳。</p>
    </div>

  </div>
</div>
