<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/my" src="../assets/icon/icon_Arrow_Back.png">
    <h3>資產總覽</h3>
    <div class="setting">
      <div class="menu" routerLink="/account/login">
        <img src="../assets/icon/icon_SignOut.png">
        <p>登出</p>
      </div>
      <div class="menu" routerLink="/account-nav/setting">
        <img src="../assets/icon/icon_SetUp.png">
        <p>設定</p>
      </div>
    </div>
  </div>

  <div class="deposit">
    <p>新台幣存款餘額</p>
    <h2>999,999,999</h2>
  </div>

  <div class="balance">
    <div class="balance-item gradient">
      <p>新台幣主帳戶餘額</p>
      <p>999,999,999</p>
    </div>
    <div class="balance-item">
      <p>可用餘額</p>
      <p>999,999,999</p>
    </div>
    <div class="balance-item">
      <p>未扣款餘額</p>
      <p>0</p>
    </div>
  </div>

  <div class="point">
    <div class="point-item point-csn gradient">
      <p>CSN點數</p>
      <p>999,999,999</p>
    </div>
    <div class="point-item point-consignment">
      <p>託售點數</p>
      <p>2,000</p>
    </div>
  </div>

</div>
