<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/setting-guard" src="../assets/icon/icon_Arrow_Back.png">
    <h3>修改使用者代號</h3>
    <div class="setting">
      <div class="menu" routerLink="/account-nav/feedback">
        <img src="../assets/icon/icon_Customer.png">
        <p>客服</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <label for="">目前使用者代號</label>
    <input type="text">

    <button class="account-btn gradient" routerLink="/account-nav/modify-user-id-new">下一步</button>
  </div>

</div>
