<div class="main">
  <!-- 上方列 -->
  <div class="top">
    <img class="return" routerLink="/account-nav/setting" src="../assets/icon/icon_Arrow_Back.png">
    <h3>常見問題</h3>
  </div>

  <div class="main-content">
    <div class="setting-faq">
      <div class="row" routerLink="/account-nav/setting-faq-normal-account">
        <p>帳戶問題</p>
        <img src="../assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row">
        <p>密碼設定問題</p>
        <img src="../assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row">
        <p>存款問題</p>
        <img src="../assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row">
        <p class="last-one">優惠活動問題</p>
        <img src="../assets/icon/icon_Arrow_More.png">
      </div>
    </div>

  </div>
</div>
