<div class="main">
  <!-- 上方列 -->
  <div class="top">
    <img class="return" routerLink="/account-nav/index" src="./assets/icon/icon_Arrow_Back.png">
    <h3>交易明細</h3>
  </div>

  <div class="main-content">
    <div class="date">
      <p>2022/07/01 ~ 31</p>
      <img src="./assets/icon/icon_Arrow_Down.png">
    </div>

    <table>
      <tr>
        <td class="title">日期</td>
        <td class="title">摘要/金額</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>07/01</td>
        <td>轉出轉帳名</td>
        <td>-1000</td>
        <td>
          <img src="./assets/icon/icon_Arrow_Down.png">
        </td>
      </tr>
      <tr>
        <td>07/01</td>
        <td>轉出轉帳名</td>
        <td>-1000</td>
        <td>
          <img src="./assets/icon/icon_Arrow_Down.png">
        </td>
      </tr>
      <tr>
        <td>07/01</td>
        <td>轉出轉帳名</td>
        <td>-1000</td>
        <td>
          <img src="./assets/icon/icon_Arrow_Down.png">
        </td>
      </tr>
      <tr>
        <td>07/01</td>
        <td>轉出轉帳名</td>
        <td>-1000</td>
        <td>
          <img src="./assets/icon/icon_Arrow_Down.png">
        </td>
      </tr>
      <tr>
        <td>07/01</td>
        <td>轉出轉帳名</td>
        <td>-1000</td>
        <td>
          <img src="./assets/icon/icon_Arrow_Down.png">
        </td>
      </tr>
    </table>
  </div>

  </div>
