<div class="main">
  <img src="../assets/icon/icon_Arrow_Back.png" routerLink="/contract/verify-identity">

  <h3>請設定代號、密碼</h3>

  <div class="main-set-user">
      <label for="user-id">使用者代號</label>
      <input id="user-id" type="text">

      <label for="user-password">使用者密碼</label>
      <input id="user-password" type="text">

      <label for="check-password">確認使用者密碼</label>
      <input id="check-password" type="text">
  </div>

  <button class="contract-btn gradient" routerLink="/contract/fill-basic-info">送出</button>
</div>
