<div class="main">
  <!-- 上方列 -->
  <div class="top">
    <img class="return" routerLink="/account-nav/my" src="./assets/icon/icon_Arrow_Back.png">
    <h3>設定</h3>
  </div>

  <div class="main-content">
    <h6>設定</h6>
    <div class="setting">
      <div class="row" routerLink="/account-nav/setting-notice">
        <p>通知設定</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row" routerLink="/account-nav/setting-transfer">
        <p class="last-one">轉帳設定</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
    </div>

    <h6>個人資料</h6>
    <div class="user-info">
      <div class="row" routerLink="/account-nav/setting-basic">
        <p>基本資料</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row" routerLink="/account-nav/setting-phone">
        <p>手機號碼</p><span>0987654321</span>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row" routerLink="/account-nav/setting-email">
        <p>電子信箱</p><span>abc123@gmail.com</span>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row" routerLink="/account-nav/setting-guard">
        <p class="last-one">使用者代號、密碼、防護金鑰</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
    </div>

    <h6>其他</h6>
    <div class="other">
      <div class="row" routerLink="/account-nav/setting-faq-normal">
        <p>常見問題</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
      <div class="row" routerLink="/account-nav/setting-faq-other">
        <p class="last-one">其他問題</p>
        <img src="./assets/icon/icon_Arrow_More.png">
      </div>
    </div>
  </div>
</div>
