<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/transfer-every" src="./assets/icon/icon_Arrow_Back.png">
    <h3>常用帳號</h3>
    <div class="receive">
      <div class="menu" routerLink="/account-nav/transfer-receive">
        <img src="./assets/icon/icon_Account_New.png">
        <p>新增</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="edit">
      <span>3/100</span>
      <span routerLink="/account-nav/transfer-every">完成</span>
    </div>

    <div class="person">
      <p class="person-name">陳二</p>
      <p class="person-account">000-0000000000000
        <img src="./assets/icon/icon_Account_Delete.png">
        <img routerLink="/account-nav/transfer-revice" src="./assets/icon/icon_Account_Edit.png">
      </p>
    </div>
    <div class="person">
      <p class="person-name">林一</p>
      <p class="person-account">000-0000000000000
        <img src="./assets/icon/icon_Account_Delete.png">
        <img src="./assets/icon/icon_Account_Edit.png">
      </p>
    </div>
    <div class="person">
      <p class="person-name">王大</p>
      <p class="person-account">000-0000000000000
        <img src="./assets/icon/icon_Account_Delete.png">
        <img src="./assets/icon/icon_Account_Edit.png">
      </p>
    </div>
  </div>

</div>
