<div class="main">
  <!-- 上方 -->
  <div class="top">
    <img class="avatar" src="./assets/icon/icon_Head.png" alt="">
    <div class="setting">
      <div class="menu" routerLink="/account-nav/feedback">
        <img src="./assets/icon/icon_Customer.png" alt="">
        <p>客服</p>
      </div>

      <div class="menu">
        <img src="./assets/icon/icon_Notice.png" alt="">
        <p>通知</p>
      </div>
    </div>
  </div>

  <!-- 中間主要區域 -->
  <div class="balance">
    <div class="balance-items">
      <p>帳戶餘額</p>
      <h2>999,999,999</h2>
    </div>

    <div class="balance-items">
      <p>CSN點數</p>
      <h3>999,999,999</h3>
    </div>

    <div class="balance-items">
      <p>優惠活動</p>
      <div class="activity">
        <!-- <img src="../assets/banner.jpg" alt=""> -->
      </div>
    </div>

  </div>

  <!-- 下方回饋區域 -->
  <div class="report">
    <div class="report-title gradient">七月回饋報告</div>
    <div class="report-content">
      <div class="report-content-info">
        <p>免費跨轉剩</p>
        <h2>5次</h2>
      </div>

      <div class="report-content-info">
        <p>免費跨堤剩</p>
        <h2>5次</h2>
      </div>

      <div class="report-content-info">
        <p>累計利息約</p>
        <h2>300</h2>
      </div>
    </div>
  </div>

</div>
