<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/modify-user-password" src="./assets/icon/icon_Arrow_Back.png">
    <h3>修改使用者密碼</h3>
    <div class="setting">
      <div class="menu" routerLink="/account-nav/feedback">
        <img src="./assets/icon/icon_Customer.png">
        <p>客服</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <label for="">新的使用者密碼</label>
    <input type="text">

    <label for="">再次輸入新的使用者密碼</label>
    <input type="text">

    <button class="account-btn gradient" routerLink="/account-nav/setting-guard">確認修改</button>
  </div>

</div>
