<div class="main">
  <!-- 上方列 -->
  <div class="top login-bar">
    <img class="return" routerLink="/account-nav/setting" src="./assets/icon/icon_Arrow_Back.png">
    <h3>修改電子信箱</h3>
    <div class="setting">
      <div class="menu" routerLink="/account/login">
        <img src="./assets/icon/icon_Customer.png">
        <p>客服</p>
      </div>
    </div>
  </div>

  <div class="main-content">
    <label for="">原有電子信箱</label>
    <input type="text">

    <label for="">新的電子信箱</label>
    <input type="text">

    <button class="account-btn gradient" routerLink="/account-nav/setting-email-check">下一步</button>
  </div>

</div>
